[Unit]
Description=Vban Beta Network Daemon
After=network.target

[Service]
Type=simple
User=nanocurrency
WorkingDirectory=/var/nanocurrency/VbanBeta
ExecStart=/usr/bin/vban_node --daemon --network=beta --data_path=/var/nanocurrency/VbanBeta
Restart=on-failure

[Install]
WantedBy=multi-user.target
